name: Example Workflow
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
environment: ${{ vars.ENVNAME || 'start' }}

jobs:
  loci:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare environment
        run: |
          sudo apt-get -y update
          sudo apt-get -y install gcc-aarch64-linux-gnu g++-aarch64-linux-gnu build-essential cmake git ninja-build python3-minimal
          echo "Cross compiler installed"
        shell: bash
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build sample
        run: |
          CC=gcc CXX=g++ ./Configure linux-aarch64 --cross-compile-prefix=aarch64-linux-gnu- -g -fno-stack-protector
          make -j
          mv apps/openssl openssl
          echo "Successfully compiled openssl"
        shell: bash
      - name: LOCI Upload
        uses: auroralabs-loci/loci-action@v1
        env:
          LOCI_BACKEND_URL: '${{ vars.PROJECTURL }}'
          LOCI_API_KEY: '${{ secrets.SECRETKEY }}'
        with:
          mode: upload
          binaries: |
                openssl
                libcrypto.so
                libcrypto.so.3
                libssl.so
                libssl.so.3
          project: 'cpp-test'
