name: C++ Bubble Sort Tests
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  test:
    runs-on: ubuntu-22.04-arm
    environment: ${{ vars.ENVNAME || 'start' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -y install build-essential
        shell: bash
      - name: Build and run tests
        run: |
          make 
        shell: bash
      - name: LOCI Upload
        uses: auroralabs-loci/loci-action@v1
        env:
          LOCI_BACKEND_URL: '${{ vars.PROJECTURL }}'
          LOCI_API_KEY: '${{ secrets.SECRETKEY }}'
        with:
          mode: upload
          binaries: ./
          project: 'cpp-test'
